
$ibmpm: 'IBM Plex Mono', monospace;
$oxanium: 'Oxanium', cursive;

$fs-h1: 1.5rem;
$fs-h2: 1.25rem;
$fs-p: 1rem;
$fs-small: 0.75rem;



$color-onyx: #0f0e11;
$color-carbon-black: #191a1f;
$color-shadow-gray: #23252d;
$color-shadow-gray-2: #2b2d35;
$color-gunmetal: #3a3c44;
$color-iron-gray: #46484f;
$color-text: #f2f2f2;

$glow-25-white: 0px 0px 0px rgba(255, 255, 255, 0.25),
          0 0 0.5em rgba(255, 255, 255, 0.25),
          0 0 0em rgba(255, 255, 255, 0.25);

$glow-50-white: 0px 0px 0px rgba(255, 255, 255, 0.5),
          0 0 0.5em rgba(255, 255, 255, 0.5),
          0 0 0em rgba(255, 255, 255, 0.5);

$glow-100-white: 0px 0px 0px rgba(255, 255, 255, 1),
           0 0 0.5em rgba(255, 255, 255, 1),
           0 0 0em rgba(255, 255, 255, 1);

$glow-25-gray: 0px 0px 0px rgba(70, 72, 79, 0.25),
          0 0 0.5em rgba(70, 72, 79, 0.25),
          0 0 0em rgba(70, 72, 79, 0.25);

$bp-sm:  640px;
$bp-md:  768px;
$bp-lg:  1024px;
$bp-xl:  1280px;
$bp-2xl: 1440px;


