*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 19px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background:  linear-gradient(180deg, $color-onyx, $color-carbon-black, $color-onyx);
}
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;  
  flex-direction: column;
}
main {
  width: 80%;
  max-width: 1280px;
  background-color: $color-shadow-gray;
  justify-self: center;
  min-height: 90vh;

  @media (max-width: $bp-lg) {
    width: 90%;
  }

  @media (max-width: $bp-md) {
    width: 95%;
  }

  @media (max-width: $bp-sm) {
    width: 100%;
  }
}